# Porta do servidor
PORT=3000

# Carteira que recebe pagamentos USDC na Base
WALLET_ADDRESS=0xa982560940d318810299a3E5eF4c4d81236118ac

# Finnhub (reservado para fase 2)
FINNHUB_API_KEY=d6opcf1r01qi5kh3r380d6opcf1r01qi5kh3r38g

# Ambiente
NODE_ENV=development
